/*Break points*/
$footer-height-desktop: 90px;
$footer-height-tablet: 140px;
$footer-height-mobile: 210px;
$header-height: 85px;
$nav-width: 115px;

/*Responsive Breakpoints*/
$min-width: 1px;
$max-width-non-desktop: 991px;
$min-width-desktop: 992px;

/*Colors*/
$mountain-dark-green: #334029;
$mountain-green: #3C7018;
$dark-grey: #4A4A4B;
$medium-grey: #AEAEAF;
$light-grey: #F2F2F3;
$white: #FFFFFF;

/*Fonts*/
$ff-base: 'Helvetica', sans-serif;
