@import "../../../../variables.scss";

nav.nav {
  position: absolute;
  top: $header-height;
  left: 0;
  height: calc(100% - #{$header-height});
  width: $nav-width;
  z-index: 999;
  background-color: $mountain-green;
  color: $white;
  margin: 0;
  padding: 0;
}
